.about-body {
  background: #4886c1;
  color: white;
  padding-top: 60px;
  h3 {
    font-style: italic;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
  }
}

.about-content {
  margin: 30px 20px;
  // display: flex;
  font-size: 15px;
}

.about-body {
  padding: 0 40px 60px 40px;
}

.about-links {
  li {
  list-style-type: none;
  }
  a {
  text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
    .about-links {
      border-top: 1px solid white;
      padding-top: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .about-explanation {
      border-right: 1px solid white;
    }
}
