body {
  overflow-x: hidden;
}

.ecopledge-explanation {
  background: #66CCFF;
  text-align: center;
  color: white;
  h2 {
    padding-top: 60px;
    margin-top: 0px;
  }
  p {
    font-size: 15px;
    line-height: 1.1;
  }
}

.ecopledge-text {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.ecopledge-content {
  padding-bottom: 50px;
  img {
    height: 100px;
  }
  h4 {
    font-weight: bold;
  }
}

.news-events {
  padding-bottom: 50px;
  img {
    height: auto;
    width: 80%;
  }
  img:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.10);
  -ms-transform: scale(1.10); /* IE 9 */
  -webkit-transform: scale(1.10); /* Safari and Chrome */

}
  h4 {
    font-weight: bold;
  }
}

@media screen and (max-width: 1000px) {
.ecopledge-content {
  display: none;
  }
}

.ecopledge-cta {
  padding-bottom: 60px
}

.btn-success {
  border-radius: 5px !important;
}

.banner-two {
  color: white;
  h2 {
    padding-top: 60px;
    margin-top: 0px;
    text-align: center;
  }
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
