.heroestoo-programs {
  background-color: #66CCFF;
  height: auto;
  padding: 60px 40px;
}


.card-two {
  width: 280px;
  height: 370px;
  position: relative;
  margin-top: 20px;
  -webkit-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 14px -4px rgba(0,0,0,0.75);
  img {
    width: 280px;
    height: 195.13px;
  }
}

.card-two-image {
  position: absolute;
}

.card-two-title {
  position: absolute;
  top: 200px;
  left: 10px;
  h3 {
    font-size: 23px;
    color: #66CCFF;
  }
}

.card-two-description {
  position: absolute;
  top: 280px;
  left: 10px;
  p {
    font-size: 13px;
    color: #66CCFF;
  }
}

.card-two-readmore {
  position: absolute;
  bottom: 20px;
  left: 200px;
  font-size: 12px;
}

.card-two-contents {
  background: rgba(255, 255, 255, 0.8);
  height: 370px;
}
