<div class="heroestoo-programs">
  <h2 style="text-align: center; color: white;">Our Programmes</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">
            <%= image_tag "heroestoo ecopledge education program.jpg" %>
          </div>
          <div class="card-two-title">
            <span><h3>HeroesToo EcoPledge Education Program</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>We visit schools, colleges, and universities providing eco-education and environmental awareness workshops.</p></span>
          </div>
          <div class="card-two-readmore">
            <span id="ht-education-program"><a href="#program-info">READ MORE</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="card-two">
        <div class="card-two-contents">
            <div class="card-two-image">
              <%= image_tag "Picture For Ecopledge Workshop.jpg" %>
            </div>
            <div class="card-two-title">
              <span><h3>HeroesToo EcoPledge</h3></span>
            </div>
            <div class="card-two-description" style="top: 255px;" >
              <span><p>Our unique and successful, tool to restore and preserve our environment through encouraging each and every individual to be aware of their habits and reduce their resource consumption.</p></span>
            </div>
            <div class="card-two-readmore">
              <span id="ht-ecopledge-program"><a href="#program-info">READ MORE</a></span>
            </div>
          </div>
        </div>
    </div>
<!--     <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">

          </div>
          <div class="card-two-title">
            <span><h3>HeroesToo Reforestation Program</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>Our tree-planting program was initiated on the 27th of July 2010.</p></span>
          </div>
          <div class="card-two-readmore">
            <span id="ht-reforestation-program"><a href="#program-info">READ MORE</a></span>
          </div>
      </div>
    </div> -->
<!--     </div> -->
    <div class="col-xs-12 col-sm-4" align="center">
      <div class="card-two">
        <div class="card-two-contents">
          <div class="card-two-image">
            <%= image_tag "Pic for Other programs.jpg" %>
          </div>
          <div class="card-two-title">
            <span><h3>Other Programmes</h3></span>
          </div>
          <div class="card-two-description">
            <span><p>Throughout the years we have come up with plenty of other programmes to improve the environment.</p></span>
          </div>
          <div class="card-two-readmore">
            <span id="ht-other-programs"><a href="#program-info">READ MORE</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="program-info" id="program-info" style="color: white; width: 70%; margin: 0 auto;">
  </div>
  <div style="display: flex; justify-content: center; align-items: center; padding-top: 50px;">
    <%= link_to '<button type="button" class="btn btn-primary btn-lg" style="border: 1px solid rgba(255, 255, 255, .5);">Take the EcoPledge NOW</button>'.html_safe, ecopledge_path %>
  </div>
</div>

<script>
  document.querySelector("#ht-education-program").addEventListener("mouseup", function() {
    let programExplanation = document.querySelector(".program-info")
    programExplanation.innerHTML = "<br><h3 style='text-align: center;'>HeroesToo EcoPledge Education Program</h3> <p>HeroesToo works with schools, colleges and universities in an outreach programme, highlighting local and global sustainability issues through updated, relevant environmental awareness workshops to make the issues meaningful and alive</p><p>An indepth four-stage approach is used to convey the impact of the destruction of our environment by mankind. Experiential classroom sessions with our trained facilitators and field trips enable students to acquire first hand knowledge, be engaged and inspired, discuss sustainable lifestyle solutions and take action.</p><p>The first stage is a school assembly introducing the EcoPledge Program to the entire school.</p><p>The second stage is themed eco-workshops led by our facilitators for individual classes. These workshops focus on food waste, plastic, paper, energy and water. They aim to showcase how natural resources used and mismanaged daily, increases our carbon footprint and contributes to climate change.</p><p>We believe it is crucial for the younger generation to understand the impact their daily activity makes on the environment and to provide them with ownership through the realisation their individual, small actions to engage and change can make a difference to larger changes.</p><p>In the third stage, the class share their learnings with the entire school in a final assembly. All students take the Ecopledge making a personal promise to undertake measurable changes in their lifestyle to reduce resource usage.</p><p>The fourth and final stage of the EcoPledge Program culminates with the school itself taking the EcoPledge, committing to reduce its carbon footprint and reducing resource consumption.</p><p>Measurable and tangible results have been achieved. To date the EcoPledge Program has resulted in schools reducing their yearly energy usage and paper costs to 5% or more.</p>"
  });











  document.querySelector("#ht-ecopledge-program").addEventListener("mouseup", function() {
    let programExplanation = document.querySelector(".program-info")
    programExplanation.innerHTML = "<div style='padding-top: 20px; width: 20%; margin: 0 auto;'><img src='https://res.cloudinary.com/dofuzeof4/image/upload/v1535128140/ecopledge-logo-01_dgi6fk.png' alt='ecopledge'></div><br><h3 style='text-align: center;'>HeroesToo EcoPledge</h3><p>The HeroesToo EcoPledge is a personal, measurable commitment to reduce the use of one or more of the earth’s precious resources: water, energy, paper or food waste or plastic waste, thereby reducing our carbon footprint.</p><p>The Heroes Too ethos is each one of us can make a difference on a global scale; if every individual makes a small, positive change, a critical mass can be reached and make a transformational impact.</p><p>By supporting and committing to our EcoPledge Program, companies can take a meaningful role of Corporate Social Responsibility. Taking a corporate EcoPledge to protect the environment means resource usage is greatly reduced, saving the company money and lowering their carbon footprint. Corporate donations are used to share our Eco-Pledge Program with our youth to take action now and create lasting protection to our world.</p><br><h3 style='text-align: center;'>The EcoPledge App</h3><p>The EcoPledge App is our unique online tool to protect the environment through awareness of one’s daily resource consumption and building green habits. The app motivates individuals to track their eco-habits, rewards their efforts to reduce resource consumption and measures the carbon footprint gained/lost.</p><p>Sharing this App via social media increases the trend of leading a sustainable lifestyle through lowering resource usage and as more people participate a mass momentum is achieved.</p>"
  });


  // document.querySelector("#ht-reforestation-program").addEventListener("mouseup", function() {
  //   let programExplanation = document.querySelector(".program-info")
  //   programExplanation.innerHTML = "<br><h3 style='text-align: center;'>HeroesToo Reforestation Program</h3><p> The HeroesToo Reforestation and Forest Protection Programme was initiated on 27th July 2010 in collaboration with the Guangdong Academy of Forestry in Lashi Village.</p><p>The reforestation site of Vashi Village covers 160 hectares in which 21,500 saplings of 59 different species were planted. The programme is not just about the benefit of planting trees, but also benefit the villagers too as it created jobs for them and provides an invaluable source of future income.</p>"
  // });

   document.querySelector("#ht-other-programs").addEventListener("mouseup", function() {
    let programExplanation = document.querySelector(".program-info")
    programExplanation.innerHTML = "<br><h3 style='text-align: center;'>Other HeroesToo Programmes</h3><br><h4 style='text-align: center;'>Education in Universities</h4><p>Since its inception in 2006, HeroesToo has been active with environmental education in schools and universities.</p><br><h4 style='text-align: center;'>HeroesToo EcoDesign Competitions</h4><p>In 2010 HeroesToo, in collaboration with our social enterprise partner, SolutionsToo Ltd., launched a series of Sustainable Design Competitions (SDC). The aim of the competitions was to encourage talented artists to incorporate sustainability into their designs as well as spreading this message to the community.</p><br><h4 style='text-align: center;'>Sustainable Design Competition - Bus Shelter</h4><p>One competition involved students artistically sparring one another to create a design to feature on bus shelters around Hong Kong. The competition inspired participation from numerous people from a wide array of schools, companies and institutes.</p><p>Faculty members at the Hong Kong Design Institute made our challenge a compulsory assignment for its students. Kowloon Motor Bus Commission collaborated and used the winning designs on their bus shelters. This eventually led to local media outlets TVB Pearl, Roadshow and SCMP covering the event on-air.</p><p>Bus shelters are integral to Hong Kong’s intricate transportation system and are impossible to miss. Therefore, we chose bus shelters as the object of the sustainable design competition and to incorporate (without compromising on style) a design to both serve as an urban landscape icon and a billboard for environmental issues.</p><p>The bus shelter SDC attracted close to one hundred entries, including from students of several major academic institutions and design students from universities.  We were pleasantly surprised to discover at some universities our bus shelter SDC had become part of the design syllabus. The competition also gained major support from The Hong Kong Jockey Club and Kowloon Motor Bus Company who even dedicated a couple of their shelters to the winning designs.</p><p>We held workshops during the competition which allowed students to receive a first-hand look at how architects designed prototypes for companies with the theme, of course, being sustainability.</p><p>The twelve finalist chosen constructed models to represent their idea and these were presented to the judging panel at our closing ceremony. The models were exhibited in Central Oasis where the public could view and gain an understanding of the concept behind the finalist’s work. Team TPA from Chu Hai College of Higher Education was announced champion.</p><br><h4 style='text-align: center;'>Sustainable Design Competition - Rain Jacket</h4><p>HeroesToo launched The Sustainable Design Competition in 2010 to promote sustainable living through eco-friendly lifestyle products.</p><p>TThe aim of the series’ first challenge was to find talented Hong Kong designers with ambitions and aspirations to be at the forefront of the ever-changing fashion industry with a range of  sustainable fashion designs through development of low carbon clothing.</p><p>The competition was open to all local tertiary students who were asked to submit individual or team designs of a portable rain jacket using recycled materials. Nine finalists emerged from over 60 submissions. Materials were provided for the finalists to spark their creativity and they were invited to a workshop where industry professionals shared their expertise on different facets of sustainable fashion ranging from fabrics to entrepreneurship.</p><p>The finalists’ designs were showcased at a grand finale on 1st June before renowned designers in a judging panel including Walter Ma. Kerry Chong Chui Yi from Hong Kong Polytechnic University was declared the winner. In addition to having her design produced for retail, Kerry also won a cash prize of $10,000. Derek Chan Chun Kit and Tristan Yeung Man Fung placed first and second runners-up respectively, whilst the People’s Choice Award went to Natalie Wong S.T. Sadik. </p><p>“We believe fashion is, and will continue to be, an integral part of our young people’s lives. By raising awareness of the need for sustainable clothing, not only can we encourage youngsters to become more conscientious consumers but also make a push for environmentally responsible production. The Sustainable Design Competition Series propeled this concept across other aspects of our lifestyles, making it a competition with realistic outcomes.</p><br><h4 style='text-align: center;'>HeroesToo Reforestation Programmes</h4><p>The HeroesToo Reforestation and Forest Protection Programme was initiated on 27th July 2010 in collaboration with the Guangdong Academy of Forestry in Lashi Village.</p><p>The reforestation site of Vashi Village covers 160 hectares in which 21,500 saplings of 59 different species were planted. The programme is not just about the benefit of planting trees, but also benefit the villagers too as it created jobs for them and provides an invaluable source of future income.</p>"
  });
</script>

