.banner {
  color: white;
  text-align: left;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.banner h1 {
  font-size: 50px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin-left: 10%;
}

.call-to-action-banner {
  width: 20%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 40%;
  text-align: center;
  opacity: .8;
  line-height: 1;
  p:last-child {
    font-size: 50px;
    opacity: .5;
  }
}
